.center{
    float: center;
    
}

.sinom{
    width: 20;
    height: 20;
    float: center
}

.form-container {
    color: white;
    padding: 20px;
    background-color: #333;
    border-radius: 5px;
    margin-bottom: 20px;
}