.center{
    float: center;
    
}

.sinom{
    width: 10%;
    height: 10%;
}

.form-container {
    color: white;
    padding: 20px;
    background-color: #333;
    border-radius: 5px;
    margin-bottom: 20px;
}