/* Header.css */

#header {
    position: sticky; /* Alternatively, you can use `fixed` */
    top: 0;
    width: 100%;
    background-color: #fff; /* Set background color to make the header visible */
    z-index: 1000; /* Ensure the header remains above other content */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for separation */
    font-weight: bold;
    color: black;
    border-radius: 10px;
    padding: 10px 0;
    margin: 0; /* Ensure no margins */
    display: flex; /* Ensure content within the header is properly aligned */
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
}


.wrapper {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    width: 100%;
    display: flex;
    font-size: 1.5em;
    font-weight: bold;
}

/* 링크 스타일 제거 및 색상 지정 */
.logo a {
    text-decoration: none; /* 밑줄 제거 */
    color: inherit; /* 부모 요소의 색상 상속 */
}

.lists {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.li {
    margin-left: 20px;
}

.li a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

.li a:hover {
    color: #007bff;
}
