/* Global CSS Variables: https://www.w3schools.com/css/css3_variables.asp */
/* Reference these in your CSS to get the same color as the mockups */


:root {
  --actionBackgroundColor: #f76b8a;
  --actionTextColor: white;
  --activeColor: #66bfbf;
  --standardBackgroundColor: #fcfefe;
  --alternativeBackgroundColor: #212121;
  --standardTextColor: black;
  --lightColor: lightgray;
  --moderateColor: darkgray;
}

@media only screen and (max-width: 600px) {
  .logo {
    display: none;
  }
}

body {
  background-color: var(--alternativeBackgroundColor);
  width: 100%;
  height: 100%;
  margin: 0px;
}

input:focus,
select:focus,
textarea:focus,
button:focus  {
  outline-color: var(--activeColor);
}

select {
  border-color: var(--moderateColor);
}

input[type=text] {
  border-color: var(--lightColor);
}

input[type=submit]:hover,
input[type=button]:hover,
button:hover {
  transform: scale(1.1);
}





#header{
  font-weight: bold;
  background-color: white;
  font-size: 100%;
  color: black;
  margin: -6px -6px -6px -6px;
  border-radius: 10px;
  /* justify-content: space-between */
}
.wrapper{
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lists{
  list-style: none;
  display: flex;
  width: 800px;
}
.li{
  text-align: center
}
.lists>a{
  width: 300%;
}
.logo{
  /* list-style: none; */
  /* display: flex; */
  font-size: 200%;
  margin-left: 5%;
  /* display: block; */
  white-space: nowrap;
}
.log{
  margin-right: 3%;
}





.btn-danger{
  margin-right: 2%;
  margin-left: 0px;
  margin-left: 2%;
  margin-top: 10px;
  border-radius: 6px;
  background-color: #f76b8a;
  color: white;
  /* border-color: #f76b8a; */
  border: none;
  width: 70px;
  height: 30px;
  font-size: large;
}


#logPage, #editPage, #viewPage{
  width: 33%;
  white-space: nowrap;
  font-size: 2vw;
}


#SignUp{
  background-color: blue;
  color: white;
  border-radius: 6px;
  border: none;
  
}


/* 여기는 Login Box */
.container {
  margin: auto;
  width: 500px;
  overflow: auto;
  padding: 3rem 2rem;
}

#my-form {
  padding: 2rem;
  background: #f4f4f4;
}

#my-form label {
  display: block;
}

#my-form input[type='text'] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.btn {
  display: block;
  width: 100%;
  padding: 10px 15px;
  border: 0;
  background: #333;
  color: #fff;
  border-radius: 5px;
  margin: 5px 0;
}